<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="in.sp.beans.Address" id="addr" autowire-candidate="false">
		<property name="houseno" value="123" />
		<property name="city" value="HYD" />
		<property name="pincode" value="124332" />

	</bean>
	
	<bean class="in.sp.beans.Address" id="addr2" >
		<property name="houseno" value="120" />
		<property name="city" value="bngl" />
		<property name="pincode" value="124002" />

	</bean>

	<bean class="in.sp.beans.Student" id="std" autowire="byType">
		<property name="rollno" value="100" />
		<property name="name" value="NABIN" />
		

	</bean>

</beans>