<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.asmin.beans.Address" id="addr">
	
	<property name="houseno" value="111" />
	<property name="city" value="BIHAR" />
	<property name="pincode" value="756019" />
	
	</bean>

	<bean class="com.asmin.beans.Employee" id="ed">
	
	<property name="eid" value="900" />
	<property name="ename" value="RITU" />
	<property name="address" ref="addr"/>
	
	</bean>

	
</beans>